# Python
__pycache__/
*.py[cod]
.venv/
*.egg-info/
build/
dist/

# Ferramentas
.pytest_cache/
.mypy_cache/
.ruff_cache/
.coverage
htmlcov/

# Segredos e dados locais
.env
*.db
*.sqlite3

# Editores e sistema
.vscode/*
!.vscode/extensions.json
.idea/
.DS_Store
Thumbs.db
